
.img{
    width: 80%;
}
.a{
    padding-top: 20px;
    text-transform: uppercase;
    font-family: 'praque';
    letter-spacing: 3px;
}
.b{
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    text-align: justify;

}
@media(max-width:760px){
    .img{
        width: 100%;
        margin-top: 30px;
    }
    .join{
        margin-bottom: 20px;
    }
    /* .body{
          width: 100%;
    }
    .png{
       width: 100%;
       align-items: center;
       box-sizing: border-box;

    } */
    
}
.c{
    background: url(https://pn-paul.netlify.app/image/img%20background.jpg);
    width: 100%;
    height: 450px;
    padding-top: 100px;
}
.d{
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
}

.e{
    line-height: 40px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    margin-top: 10px;
    text-align: center;
}
.f{
    background: #111215;
}

.aa{
    padding-top: 20px;
    text-transform: uppercase;
    font-family: 'prague';
    letter-spacing: 3px;
}
.text-light{
    color: white;
}
.main{
    line-height: 30px;
                word-spacing: 1px;
                font-size: 18px;
                color: aliceblue
}
.logo{
    
    margin-top: 2cm;
}
.weblogo{
    width: 65px;
}
.navbar{
    background: #0000009c !important;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: #fff !important;
    font-weight: 300;
    font-size: 18px;
}
.navbar-nav li:hover{
    background: rgb(0, 13, 255);
}
.moblogo{
    display: none;
}
@media(max-width:768px) {
    .moblogo{
        display: block;

    }
    .weblogo {
        display: none;
    }
    .navbar{ 
        background: #0000009c !important;
    }
    .footer-copyright b{
        display: none;
    }
}
.A{
    background: url(https://pn-paul.netlify.app/image/gamebanner.jpg);
    width: 100%;
    height: 450px;
    padding-top: 100px;
}
.cc{
    background: url(https://pn-paul.netlify.app/image/ffback2.png);
    width: 100%;
    height: 450px;
    padding-top: 100px;
}
.i a{
    
    color: orange;
    font-size: 40px;
    padding-top: 50px;
    margin-right: -15px;
    text-decoration: none;
}
.i{
    margin-left: -20px;
}
.footer-copyright{
    background: rgb(0 0 0);
    margin-top: 23px;

}
.ccc{
    background-image: url(https://pn-paul.netlify.app/image/ourimage.jpg);
    width: 100%;
    height: 650px;
    background-position: center;
    background-size: cover;
}
.cccc{
    background-image: url(https://pn-paul.netlify.app/image/brands.jpg);
    width: 100%;
    height: 630px;
    background-position: center;
    background-size: cover;
}
@media(max-width:768px) {
    .footer-copyright b{
        display: none;
    }

}
.icon{
    margin-top: 83px;
}
.team-banner{
    background-image: url(https://pn-paul.netlify.app/image/new-our-team.jpg);
    width: 100%;
    height: 630px;
    background-position: center;
    background-size: cover;
}
.p1{
    background-image: url(https://pn-paul.netlify.app/image/YPAshok.jpg);
    width: 100%;
    height: 10cm;
    background-position: center;
    background-size: cover
}
.p2{
    background-image: url(https://pn-paul.netlify.app/image/B.R.-Sachdeva.jpg);
    width: 100%;
    height: 10cm;
    background-position: center;
    background-size: cover
}
.p3{
    background-image: url(https://pn-paul.netlify.app/image/Sagar-Bajaj.jpg);
    width: 100%;
    height: 10cm;
    background-position: center;
    background-size: cover
}
.p4{
    background-image: url(https://pn-paul.netlify.app/image/JAY-PHOTO-1-1.jpg);
    width: 100%;
    height: 10cm;
    background-position: center;
    background-size: cover
}
.p5{
    background-image: url(https://pn-paul.netlify.app/image/vibhutiPR.jpg);
    width: 100%;
    height: 10cm;
    background-position: center;
    background-size: cover
}
.pressrelease-banner{
         background: url(https://pn-paul.netlify.app/image/press-new-1.jpg);
         width: 100%;
    height: 630px;
    background-position: center;
    background-size: cover;
}
.contact-banner{
    background: url(https://pn-paul.netlify.app/image/CONTACT-US.jpg);
    width: 100%;
    height: 650px;
    background-position: center;
    background-size: cover;
}
.carrer-banner{
    background: url(https://pn-paul.netlify.app/image/new-careers-1.jpg);
    width: 100%;
    height: 620px;
    background-position: center;
    background-size: cover;
}
